@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.container-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1135px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex: 1;
  margin-bottom: 40px;
}

.footer {
  margin-top: auto;
}
